@charset "UTF-8";
/*Define os caracteres que serão atribuidos ao arquivo*/
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
/*Importa fonte para título*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Karla&display=swap');
/*Importa fonte para o resto da página*/

/*============================================== sobre o corpo ==============================================*/
body {
    background: #e0e3e0;
    /*body branco*/
    width: 948px;
    /*Largura total do body*/
    margin: 0px auto;
    /*Margem do body*/
    font-family: 'century gothic', 'Karla', sans-serif;
    /*Fonte "elephant" ou "Karla" para o body*/

}


/* ================================================ sobre o cabeçalho ==============================================*/
header {
    border-color: #000000;
    /*Cor da borda do header preta*/
    border-style: solid;
    /*Borda  do header estilo sólida*/
    border-width: 2px;
    /*Espessura da borda do header 2 pixels*/
    background: #ffffff;
    /*header branco*/
}


/*============================================== Sobre o logo de cima ==============================================*/
.logo_top {
    position: absolute;
    /*Logo com posição absulute para tirar do fluxo e alterar o posicionamento*/
    margin-top: 43px;
    /* margem exterior superior fica*/
    margin-left: 30px;
    /* margem exterior esquerda fica*/
}


/*==============================================Sobre a lista não ordenada do nav===========================================*/
.top ul {
    padding: 8px;
    /*Espaçamento interno da lista não ordenada*/
    text-align: center;
    /*Alinha os itens ao centro*/
    background: #ffffff;
    /*Cor branca para a lista*/
    border-color: #000000;
    /*Cor da borda preta*/
    border-style: solid;
    /*Borda estilo sólida*/
    border-width: 2px;
    /*Espessura da borda*/
    list-style: none;
    /*Tira os marcadores*/
    margin-top: 10px;
    /*Aproxima o nav do header*/

}


/*============================================== Sobre as opções da lista não ordenada de cima ==============================================*/
.top ul li {
    border-color: #000000;
    /*Cor da borda preta*/

    border-radius: 5px;
    /*Arredondamento da borda*/
    display: inline;
    /*Coloca todos os itens na mesma linha*/
    margin: -10px 44px;
    /*Margem vertical*  *Margem horizontal*/
    padding: 8px;
    /*Espaçamento interno vertical*  *Espaçamento interno horizontal*/
    background: #99d3df;
    /*Cor de fundo*/

}



/*============================================== Sobre cada item da lista não ordenada de cima ==============================================*/
.top ul li a {
    padding: 8px;
    /*Espaçamento interno*/
    display: inline-block;
    /*Eles se comportam como se cada um estivesse em um bloco*/
    margin: -5px auto auto auto;
    /*Margem superir negativa*  * margens ao redor automáticas*/
    text-decoration: none;
    /*Tira o sublinhado*/
    color: #000000;
    /*Cor da letra fica preta*/
    font-family: 'elephant', 'Abril Fatface', cursive;
    /*Fonte "elephant" ou "Abril Fatface" ou cursiva para o nav*/
    font-size: 12px;
    /*Tamanho da fonte do nav*/

}


/*============================================== Quando passar o mouse sobre o item da lista de cima, faça ====================================*/
.top ul li a:hover,
.top ul li:hover {
    padding: 8px;
    /*Espaçamento interno*/
    color: #000000;
    /*Cor da letra preta*/
    background: #cdcdcd;
    /*Cor de fundo cinza*/
}

/*============================================== sobre o título principal ==============================================*/
h1 {

    background: #99d3df;
    /*Cor de fundo azul*/
    border-color: #000000;
    /*Cor da borda preta*/
    border-radius: 40px;
    /*Arredondamento da borda*/
    line-height: 80px;
    /*Tamanho interno vertical*/
    width: 290px;
    /*Tamanho interno horizontal*/
    text-align: center;
    /*Alinha o texto ao centro*/
    margin: 30px auto auto auto;
    /*Margem superior declarada, demais auto*/
    font-family: 'elephant', 'Abril Fatface', cursive;
    /*Fonte "elephant" ou "Abril Fatface" ou cursiva para o título*/
    font-size: 42px;
    /*Tamanho da fonte do título*/
}

/*============================================== sobre o h2 ==============================================*/
h2 {
    background: #99d3df;
    /*Cor de fundo*/
    border-radius: 5px;
    /*Arredonda a borda*/
    text-align: center;
    /*Centraliza o texto*/
}

/*============================================== sobre o conteúdo ==============================================*/
.home,
.vid,
.cont,
.his,
.pesq,
.ref,
.vid {
    margin-top: -9px;
    /*Aproxima o conteúdo do nav*/
    background: #ffffff;
    /*Cor de funco do conteúdo branco*/
    border-color: #000000;
    /*Cor da borda preta*/
    border-style: solid;
    /*Borda estilo sólida*/
    border-radius: 100px 100px 0px 0px;
    /*Arredondamento das bordas superiores*/
    border-width: 2px;
    /*Espessura da borda*/

}


/*============================================== sobre o rodapé ==============================================*/
footer {
    border-color: #000000;
    /*Cor da borda preta*/
    border-style: solid;
    /*Borda estilo sólida*/
    border-width: 2px;
    /*Espessura da borda*/
    background: #ffffff;
    /*Cor de fundo branca*/
    padding: 50px;
    /*Espaçamento interno*/
    position: relative;
    /*Tira ele do fluxo do documento*/

}


/*============================================== Faz a modificação de localização do nav botton ==============================================*/
.bot ul {
    position: absolute;
    /*Posição do nav_bot é absolute para tirar do fluxo do documento e alterar seu posicionamento*/
    margin-top: -20px;
    /*Em relação ao botton, ele terá essa posição*/
    margin-left: 110px;
    /*Em relação a esquerda ele terá essa posição*/

}


/*==============================================Sobre as opções da lista não ordenada de baixo ==============================================*/
.bot ul li {
    border-color: #000000;
    /*Cor da borda preta*/
    display: inline;
    /*Coloca todos os itens na mesma linha*/
    margin: -10px 2px;
    /*Margem vertical negativa*  *Margem horizontal negativa*/
    padding: 5px 10px;
    /*Espaçamento interno vertical*  *Espaçamento interno horizontal*/
    font-family: 'elephant', 'Abril Fatface', cursive;
    /*Fonte "elephant" ou "Abril Fatface" ou cursiva para o nav*/
    font-size: 12px;
    /*Tamanho da fonte do nav*/
    background: #99d3df;
    /*Cor da fonte azul*/
    border-radius: 5px;
    /*Arredondamento das bordas*/

}
.bot ul li a{
    text-decoration: none;
    /*Tira o sublinhado*/
}

/*============================================== Quando passar o mouse sobre o item da lista de baixo, faça ===================================*/
.bot ul li a:hover,
.bot ul li:hover {
    color: #000000;
    /*Cor da letra preta*/
    background: #cdcdcd;
    /*Cor de fundo cinza*/
}

/*============================================== Sobre o logo inferior ===============================================*/
.logo_bot {
    position: absolute;
    /*Posição do logo é absolute para tirar do fluxo do documento e alterar seu posicionamento*/
    margin-top: -50px;
    /*Em relação ao top, ele terá essa posição*/
}



/*============================================== Sobre o nav de redes sociais ==============================================*/
.redes {
    position: absolute;
    /*Posição do logo é absolute para tirar do fluxo do documento e deixar posicionado em um local*/
    margin-top: -25px;
    /*Em relação ao top, ele terá essa posição*/
    margin-left: 590px;
    /*Em relação a esquerda ele terá essa posição*/
}



/*============================================== Sobre a lista não ordenada de baixo ==============================================*/
.redes li {
    display: inline;
    /*Coloca todos os itens na mesma linha*/
}



/*============================================== Sessão de ordenação textual ==============================================*/


/*---------------------------------------------- HOME -----------------------------------------*/

/*Sobre o article da home*/
.home {
    padding: 0px 50px 200px 30px;
    /*Espaçamento interno do article*/
}

/*Sobre o primeiro section da home*/
.hom_pri_sec {
    margin-top: 60px;
    /*Separa o primeiro section do h1*/
    margin-left: 60px;
    /*Em relação a esquerda do article fica*/
    margin-right: 390px;
    /*Em relação a direita do article fica*/
    text-align: justify;
    /*Deixa justificado o texto*/
}

/*Sobre a imagem da segunda section da home*/
.hom_seg_sec img {
    float: right;
    /*Tira do fluxo do documento para mexer em sua posição*/
    margin-top: -600px;
    /*Em relação ao topo da section ela fica*/
    margin-right: 60px;
    /*Em relação a esquerda da section ela fica*/
}

/*Sobre o h2 da segunda section*/
.hom_seg_sec h2 {
    float: right;
    /*Tira do fluxo do documento para alterar sua psição*/
    margin-top: -390px;
    /*Em relação ao topo da section ela fica*/
    margin-right: 17px;
    background: #99d3df;
    border-radius: 5px;

    /*Em relação a esquerda da section ela fica*/
}

/*Sobre a segunda section da home*/
.hom_seg_sec_p {
    float: right;
    margin-top: -340px;
    /*Separa a primeira da segunda section da home*/
    padding-left: 560px;
    /*Espaçãmento interno a direita*/
    padding-right: 30px;
    margin-right: -30px;
}

/*Sobre o texto do segundo section da home*/
.hom_seg_sec_p2 {
    float: right;
    margin-top: -190px;
    /*Separa a primeira da segunda section da home*/
    padding-left: 560px;
    /*Espaçãmento interno a direita*/
}

/*---------------------------------------------- VIDEOS ---------------------------------------*/
/*Sobre o arricle de videos*/
.vid {
    padding: 0px 30px 780px 30px;
    /*Espaçamento interno do article*/
}

caption {
    background: #99d3df;
    border-radius: 5px;
}

/*Sobre as tabelas*/
table,
td {
    border: 1px solid #d9d9d9;
    /*Borda de 1px no estilo solid na cor alumínio*/
    text-align: center;
    /*Texto interno centralizado*/
    border-spacing: 0px;
    /*Espaço entre dados 0px*/
    padding: 2px;
    /*Borda externa com espaço de 2px*/
}


/*Abrange todos os icones*/
.v1,
.v2,
.v3,
.v4,
.v5,
.v1t,
.v2t,
.v2tx,
.v3t,
.v4t,
.v5t,
.prv_nxt_v {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
}

/*Sobre a primeira imagem*/
.v1 {
    margin-left: 100px;
    /*Em relação a esquerda do article fica*/
    margin-top: 60px;
    /*Em relação ao topo do article fica*/
    border-radius: 30px;
    /*Arredonda a borda da imagem*/
}

/*Sobre a tabela da primeira imagem*/
.v1t {
    margin-left: 50px;
    /*Em relação a esquerda do article fica*/
    margin-top: 210px;
    /*Em relação ao topo do article fica*/
}

/*Sobre a segunda imagem*/
.v2 {
    margin-left: 365px;
    /*Em relação a esquerda do article fica*/
    margin-top: 60px;
    /*Em relação ao topo do article fica*/
    border-radius: 30px;
    /*Arredonda a borda da imagem*/
}

/*Sobre a tabela da segunda imagem*/
.v2t {
    margin-left: 315px;
    /*Em relação a esquerda do article fica*/
    margin-top: 210px;
    /*Em relação ao topo do article fica*/
}

.v2tx {
    margin-left: 325px;
    /*Em relação a esquerda do article fica*/
    margin-top: 210px;
    /*Em relação ao topo do article fica*/
}

/*Sobre a terceira imagem*/
.v3 {
    margin-left: 650px;
    /*Em relação a esquerda do article fica*/
    margin-top: 60px;
    /*Em relação ao topo do article fica*/
    border-radius: 30px;
    /*Arredonda a borda da imagem*/
}

/*Sobre a tabela da terceira imagem*/
.v3t {
    margin-left: 600px;
    /*Em relação a esquerda do article fica*/
    margin-top: 210px;
    /*Em relação ao topo do article fica*/
}

/*Sobre a quarta imagem*/
.v4 {
    margin-left: 230px;
    /*Em relação a esquerda do article fica*/
    margin-top: 400px;
    /*Em relação ao topo do article fica*/
    border-radius: 30px;
    /*Arredonda a borda da imagem*/
}

/*Sobre a tabela da quarta imagem*/
.v4t {
    margin-left: 180px;
    /*Em relação a esquerda do article fica*/
    margin-top: 550px;
    /*Em relação ao topo do article fica*/
}

/*Sobre a quinta imagem*/
.v5 {
    margin-left: 510px;
    /*Em relação a esquerda do article fica*/
    margin-top: 400px;
    /*Em relação ao topo do article fica*/
    border-radius: 30px;
    /*Arredonda a borda da imagem*/
}

/*Sobre a tabela da quinta imagem*/
.v5t {
    margin-left: 460px;
    /*Em relação a esquerda do article fica*/
    margin-top: 550px;
    /*Em relação ao topo do article fica*/
}

/*Sobre os botões embaixo do article*/
.prv_nxt_v {
    margin-left: 380px;
    /*Em relação ao article fica*/
    margin-top: 710px;
    /*Em relação ao topo do article fica*/
    background: #99d3df;
    border-radius: 5px;
}

/*---------------------------------------------- CONTATOS -------------------------------------*/
/*Sobre o article da página contatos*/
.cont {
    padding: 0px 30px 950px 30px;
    /*Espaçamento interno do article*/
}

/*Sobre o primeiro icone de contatos*/
.cont_icon_1 {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 50px auto auto 150px;
    /*Margin a esquerda*/
}

/*Sobre label do primeiro icone de contatos*/
.if {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 120px auto auto 250px;
    /*Margin a esquerda*/
}

/*Sobre o segundo icone de contatos*/
.cont_icon_2 {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 150px auto auto 150px;
    /*Margin a esquerda*/
}

/*Sobre label do segundo icone de contatos*/
.it {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 220px auto auto 250px;
    /*Margin a esquerda*/
}

/*Sobre o terceiro icone de contatos*/
.cont_icon_3 {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 250px auto auto 150px;
    /*Margin a esquerda*/
}

/*Sobre label do terceiro icone de contatos*/
.ii {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 320px auto auto 250px;
    /*Margin a esquerda*/
}

/*Sobre o quarto icone de contatos*/
.cont_icon_4 {
    border-radius: 20px;
    /*Arredonda a borda*/
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 350px auto auto 150px;
    /*Margin a esquerda*/
}

/*Sobre label do quarto icone de contatos*/
.ip {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 420px auto auto 250px;
    /*Margin a esquerda*/
}

/*Sobre o quinto icone de contatos*/
.cont_icon_5 {
    border-radius: 20px;
    /*Arredonda a borda*/
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 450px auto auto 150px;
    /*Margin a esquerda*/
}

/*Sobre label do quinto icone de contatos*/
.is {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 520px auto auto 250px;
    /*Margin a esquerda*/
}

/*Sobre o sexto icone de contatos*/
.cont_icon_6 {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 550px auto auto 150px;
    /*Margin a esquerda*/
}

/*Sobre label do sexto icone de contatos*/
.im {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin: 620px auto auto 255px;
    /*Margin a esquerda*/
}

/*Sobre a ilustração do laranja atirando com raio laser*/
.orange {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin-bottom: -550px;
    /*Em relação ao article fica*/
    margin-left: 680px;
    /*Em relação ao article fica*/
}

/*Sobre a imagem com o youtube bravo*/
.yt {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin-top: 700px;
    /*Em relação ao article fica*/
    margin-left: 300px;
    /*Em relação ao article fica*/
}

/*---------------------------------------------- HISTORIA -------------------------------------*/
.his {
    padding-bottom: 50px;
}

/*Sobre o paragrafo primeiro de história*/
.p1 {
    text-align: justify;
    /*Deixa o texto justificado*/
    margin: 20px 150px auto 120px;
    /*Margin dos lados*/
}

/*Sobre a imagem com um pica-pau*/
.pp {
    float: left;
    /*Margem exterior superior negativa*/
    margin-left: 80px;
    margin-right: 30px;
}

/*Sobre o parágrafo segundo de história*/
.p2 {
    text-align: justify;
    /*Deixa o texto justificado*/
    margin: 20px 170px auto 130px;
    /*Margin dos lados*/
}

/*Sobre o paragrafo ultimo da primeira pagina de história*/
.p2a {
    text-align: justify;
    /*Deixa o texto justificado*/
    margin: 20px 170px 200px 130px;
    /*Margin dos lados*/
}

/*Sobre o parágrafo ultimo da segunda página de história*/
.p22 {
    text-align: justify;
    /*Deixa o texto justificado*/
    margin: auto 70px 200px auto;
    /*Margin dos lados*/
}

/*Sobre a imagem do amarelo na pagina primeira de história*/
.ani {
    float: right;
    /*Move para a direita*/
    margin-right: 30px;
    /*Espaçamento externo a direita*/
    margin-left: 30px;
    /*Espaçamento externo a esquerda*/
}

/*Sobre a imagem com a presença do Herobrine na página segunda de história*/
.hero {
    float: right;
    /*Move para a direita*/
    margin-right: 30px;
    /*Espaçamento externo a direita*/
    margin-left: 30px;
    /*Espaçamento externo a esquerda*/
}

/*Sobre a imagem do game com tudo expldodindo na página segunda de história*/
.game {
    float: right;
    /*Move para a direita*/
    margin-right: 30px;
    /*Espaçamento externo a direita*/
    margin-left: 30px;
    /*Espaçamento externo a esquerda*/
}

/*Sobre a imagem de jogo de cartas da página segunda de história*/
.card {
    float: left;
    /*Move para a esquerda*/
    margin: 30px;
    /*Espaçamento externo*/
}

/*Sobre os h2 de história*/
.his h2 {
    text-align: center;
    /*Deixa centralizado*/
    margin-top: 60px;
    /*Espaçamento externo superior*/
}

/*Sobre os botões embaixo do article*/
.prv_nxt_h {
    margin: auto 250px auto 400px;
    /*Margem a direita e a esquerda, resto automático*/
    background: #99d3df;
    /*Cor de fundo*/
    border-radius: 5px;
    /*Arredondamento da borda*/
}

/*---------------------------------------------- REFERENCIAS ----------------------------------*/
/*Abrange o article da página de referências*/
.ref {
    padding-bottom: 900px;
    /*Espaamento interno a partir do bot fica*/
}

/*Abrange todos os icones*/
.r1,
.r2,
.r3,
.r4 {
    position: absolute;
    /*Tira do fluxo do documento para alterar sua posição*/
    margin-left: 120px;
    /*Em relação a esquerda do article fica*/
}

/*Sobre o primeiro icone*/
.r1 {
    margin-top: 120px;
    /*Em relação ao topo fica*/
}

/*Sobre o segundo icone*/
.r2 {
    margin-top: 240px;
    /*Em relação ao topo fica*/
}

/*Sobre o terceiro icone*/
.r3 {
    margin-top: 360px;
    /*Em relação ao topo fica*/
}

/*Sobre o quarto icone*/
.r4 {
    margin-top: 480px;
    /*Em relação ao topo fica*/
}

/*Sobre o article da página de referencias*/
.aside_ref {
    float: right;
    /*Flutua para a direita*/
    margin-top: 30px;
    /*Em relação ao topo do article fica*/
    margin-left: 600px;
    /*Em relação a esquerda do article fica*/
    margin-right: 90px;
    /*Em relação a direita do article fica*/
}

/*Sobre a imagem ilustrativa mais abaixo*/
.org_zom {
    position: absolute;
    margin-left: 320px;
    /*Em relação a esquerda do article fica*/
    margin-top: 640px;
    /*Em relação ao topo do article fica*/
}


/*---------------------------------------------- PESQUISA -------------------------------------*/
/*Sobre o article da página*/
.pesq {
    padding: 0px 30px 50px 30px;
    /*Espaçamento interno do article*/

}

/*Sobre a section que contém os forms*/
.interacao {
    margin-top: 30px;
    /*Espaçamento externo superior*/
    text-align: left;
    /*Alinha ao centro toda a section*/
    margin-left: 300px;
    /*Em relação a esquerda do article fica*/
    margin-right: 300px;
    /*Em relação a direita do article fica*/
}

/*Sobre a section que contém texto*/
.descricao {
    text-align: justify;
    /*Deixa o texto justificado*/
    margin-left: 30px;
    /*Em relação a esquerda do article fica*/
    margin-right: 60px;
    /*Em relação a direita do article fica*/
    margin-top: 40px;
    /*Espaçamento externo superior*/
}

/*Sobre as TextBox*/
.textbox {
    width: 280px;
    /*Tamanho interno*/
}

/*Sobre a imagem a esquerda da pagina*/
.red {
    float: left;
    /*Move para a esquerda*/
    margin-top: -350px;
    /*Espaçamento externo superior*/
    margin-left: 20px;
    /*Espaçamento externo a esquerda*/
    background-color: #99d3df;
    /*Cor de fundo*/
    border-radius: 10px;
    /*Arredondamento da borda*/
}

/*Sobre a imagem a direita da pagina*/
.yel {
    float: right;
    /*Move para a direita*/
    margin-top: -350px;
    /*Espaçamento externo superior*/
    margin-right: 20px;
    /*Espaçamento externo a direita*/
    background-color: #99d3df;
    /*Cor de fundo*/
    border-radius: 20px;
    /*Arredondamento da borda*/
}

/*Sobre o ponteiro em chamas*/
.cf {
    float: left;
    /*Move para a esquerda*/
    margin-top: -550px;
    /*Espaçamento externo superior negativo*/
    margin-left: 90px;
    /*Espaçamento esterno a esquerda*/
    background-color: #99d3df;
    /*Cor de fundo*/
    border-radius: 10px;
    /*Arredondamento da borda*/
}

/*Sobre a picareta em chamas*/
.cp {
    float: right;
    /*Move para a direita*/
    margin-top: -550px;
    /*Margem externa superior negativa*/
    margin-right: 90px;
    /*Marger externa a direita*/
    background-color: #99d3df;
    /*Cor de fundo*/
    border-radius: 10px;
    /*Arredondamento da borda*/
}

/*Sobre o campo produzido nos input tipo radio*/
fieldset {
    border: none;
    /*Tira a borda*/

}

/*Sobre as legendas do fieldset*/
fieldset legend {
    margin-left: -15px;
    /*Margem exterior a esquerda negativa*/
}

/*Sobre a lista não ordenada do fieldset*/
fieldset ul {
    list-style: none;
    /*Tira os marcadores*/
    margin-left: -55px;
    /*Margem exterior a esquerda negativa*/
    margin-top: 0px;
    /*Margem exterior superior nula*/
}

/*Sobre os campos de interação com o usuário*/
textarea,
input {
    margin: 5px 0px 10px 0px;
    /*Margem exterior*/
}

/*Sobre o botão*/
.btn {
    background: #99d3df;
    /*Cor de fundo*/
    border-radius: 5px;
    /*Arredondamento das bordas*/
    margin: auto 120px;
    /*Margem sup/bot automatica, laterais definidas*/
    padding: 10px;
    /*Espaçamento interno definido*/
    border-color: #cdcdcd;
    /*Cor da borda*/
    box-shadow: none;
}
